@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#hero__bg::after {
  content: "";
  background-image: url("/tour-hero-bg.png");
  background-position: right top;
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 30px;
  right: 10px;
  z-index: -2;
}

.fixed-nav {
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  backdrop-filter: blur(10px);
  animation: header 0.6s ease-in-out;
}
@keyframes header {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
}

input[type="checkbox"]:checked + div {
  border-color: #363aed;
}
input[type="checkbox"]:checked + div svg {
  display: block;
}
input[type="range"] {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  background: none;
  pointer-events: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e0e3e6;
  pointer-events: auto;
  appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.line::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 68px;
  width: 1px;
  border-left: 1px dashed #363aed;
  bottom: -22px;
}
.grid-item-2 {
  @apply md:col-start-1 md:col-end-2 md:row-start-2 md:row-end-3;
}
.grid-item-3 {
  @apply sm:col-start-1 sm:col-end-3 sm:row-start-2 sm:!row-end-4 md:row-start-1 md:!row-end-3 md:col-start-2;
}
.grid-item-5 {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-2;
}
.inbox::-webkit-scrollbar{
  display: none;
}
@media (max-width: 1024px) {
  #hero__bg::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .line::before {
    display: none;
  }
}
.fade_in {
  display:block;
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
